.myCard{
    width: 400px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align: center;
    margin: auto;
    margin-top: 90px;
    background: transparent;
    /* opacity: blur; */
    margin-bottom: 90px;
}
button{
    margin-right: 10px;
}
mat-card-header{
    
    margin-left: 30px;
}
h1{
    color: whitesmoke;
    font-weight: bolder;
}
.login__submit {
	color: #ffffff;
	font-size: 1rem;
	/* font-family: 'Montserrat', sans-serif; */
	/* text-transform: uppercase; */
	letter-spacing: 1px;
    text-align: center;
	margin-top: 1rem;
	padding: .50rem;
	border-radius: 100%;
	/* display: block; */
	/* width: 100%; */
	background-color: #3b95b8;
	border: none;
	/* cursor: pointer; */
}

.login__submit:hover {
	background-color: #3b95b8;
}
.bottom{
    position: relative;
    right: 88px;
}