<!-- <mat-toolbar> <app-navbar></app-navbar></mat-toolbar>




  

<nav class="nav flex-column">


   <div id="panel">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon class="menu" style="color: brown;">menu</mat-icon>
                <a mat-button class="nav-link" aria-current="page" class="m" style="color: brown;" >Menu</a>
            </mat-panel-title>
          
          </mat-expansion-panel-header> -->
          <!-- class="nav-link" -->
          <!-- aria-current="page" -->
          <!-- <mat-icon class="menu" style="color: brown;">inbox</mat-icon>
          <a mat-button  routerLink="/userDashboard/viewTodo" style="color: brown;"  class="icon">Inbox</a>
<router-outlet></router-outlet>
          <mat-icon class="menu" style="color: #a52a2a;">add_task</mat-icon>
          <a mat-button class="nav-link" (click)="openDialog('0ms', '0ms')" style="color: brown;" aria-current="page" class="icon">Add Todo</a> -->
       <!-- <mat-icon class="menu" style="color: brown;">category</mat-icon>
          <a mat-button class="nav-link" aria-current="page" style="color: brown;" class="icon">Add Category</a> -->
      
         <!-- <mat-icon class="menu" style="color: brown;">priority_high</mat-icon>
          <a mat-button class="nav-link" aria-current="page" class="icon" style="color: brown;">Priorties</a>
      
          <mat-icon class="menu" style="color: brown;">archive</mat-icon>
          <a mat-button class="nav-link" aria-current="page" class="icon" style="color: brown;">Archived</a>
      
          <mat-icon class="menu" style="color: brown;">help</mat-icon>
          <a mat-button class="nav-link" aria-current="page" class="h" style="color: brown;">Help</a>
        </mat-expansion-panel>

    </div> -->

    
<!-- </nav> -->


<!-- <div><app-navbar></app-navbar></div> -->
<mat-toolbar> <app-navbar></app-navbar>

</mat-toolbar>
<body>
    

 <div class="body">
 <div class="row">
        <div id="side" class="col-md-2 col-lg-2 dash-div">
            <app-side-navbar></app-side-navbar>
            
        </div>
        <div id="body" class="col-md-10 col-lg-10 dash-div-1">

            <router-outlet>  </router-outlet>
            
        </div>
       
</div>
<!-- <app-footer class = "footer-component"></app-footer> -->
<!-- <app-footer></app-footer> -->

</div>

    
</body>
  




    <!-- <div class="container-fluid">
        <nav>
             <li>
                 <a  class = "menu">
                     <mat-icon class = "icon">menu</mat-icon>
                     <span class="nav-item" id = "menuTxt">Menu</span>
                 </a>
             </li>
             <li>
             <a >
                  <mat-icon class = "icon icon-adjust" id = "homeIcon">home</mat-icon>
                 <h4 class = "nav-item text-adjust" id = "homeTxt">Home</h4>
             </a>
             </li>
             <li  (click)="openDialog('0ms', '0ms')" >
                 <a >
                  <mat-icon class = "icon icon-adjust" id = "taskIcn">add_task</mat-icon>
                 <h4  class = "nav-item text-adjust" id="addTodoTxt">Add Todos</h4> 
                 </a>
             </li>
             <li>
             <a >
                 <mat-icon class = "icon icon-adjust" id = "catIcon">category</mat-icon>
                 <h4 class = "nav-item text-adjust" id = "catTxt">Add Category</h4> 
             </a>
             </li>
             <li>
             <a>
                  <mat-icon class = "icon icon-adjust" id = "prIcn">priority_high</mat-icon>
                 <h4 class = "nav-item text-adjust" id = "prTxt">Priorties</h4> 
             </a>
             </li>
             <li>
                 <a >
                      <mat-icon class = "icon icon-adjust" id = "arIcon">archive</mat-icon>
                     <h4  class = "nav-item text-adjust" id = "arTxt">Archived</h4> 
                 </a>
             </li>
             <li>
                 <a >
                      <mat-icon class = "icon icon-adjust" id = "userIcon">account_circle</mat-icon>
                     <h4 class = "nav-item text-adjust" id="prTxt">Profile</h4> 
                 </a>
             </li>
             <li>
                 <a>
                     <mat-icon class = "icon icon-adjust" id = "hIcon">help</mat-icon>
                     <h4 class = "nav-item text-adjust" id = "helpTxt">Help</h4> 
                 </a>
             </li>
             <li>
                 <a class = "logout">
                      <mat-icon class = "icon icon-adjust" id = "logIcon">logout</mat-icon>
                     <h4 class = "nav-item text-adjust" id="logoutTxt">Log Out</h4> 
                 </a>
             </li>
         </nav>
     </div>
 -->





