mat-toolbar{
    margin-top: -30px;
    margin-left: -20px;
    height: 70px;
}


nav{
    /* margin-top: 10px; */
    width: 90px;
   

}
.body{
    background: rgba(45, 28, 28, 0.7) url(../../../assets/Checklist.jpg);
    background-size: cover;
    background-blend-mode:darken;
    background-repeat: no-repeat;
    /* height: 800px; */
    width: 100%;
}
 .icon{
    margin-top: -60px;
    position: relative;
    /* margin-left: 75px; */
}
.menu{
/* margin-top: 50px; */
margin-left: 10px;

} 
.m{
    /* margin-top:50px ; */
    margin-left:50px;
}
.h{
    margin-top: -30px;
    margin-left:50px;
}

mat-expansion-panel-header{
    height: 100px;
    
}
mat-expansion-panel{
 

    height: 100%;
}
/* .bottom{
    height: 153px;
} */












/* .container-fluid{
    height: 100vh;
    background: rgba(190, 179, 179, 0.7);
    
}

nav{
    position: fixed;
    top: 55px;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    
}


nav li{
    list-style: none;
}

.menu{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
}
 
.menu span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
}
a{
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
    text-decoration: none;
}

.icon{
    position: relative;
    width: 70px;
    height: 40px;
    top:14px;
    font-size: 20px;
    text-align: center;
    left: 0;
}

.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}

a:hover{
background: #eee;
}

nav:hover{
    width: 280px;
    transition: all 0.5s ease;
}
#menuTxt{
    margin-top:5px;
}

.icon-adjust{
    margin-left: 9px;
}

.text-adjust{
    margin-left: 105px;
    margin-top: -45px;
}
 */