.example-spacer{
    flex: 1 1 0;
}
.logo{
    width: 100px;
    height: 100px;
    margin-left: 50px;
    margin-top: -5px;
}
   
.headbtn{
    width: 140px;
    height: 40px; 
    margin-right: 10px;
    margin-top: -5px;
    font-size: 1em;
    border-radius: 50px;
}
 
mat-toolbar{
  
    position: fixed;
    background-color: #4682b4;
    z-index: 1;
    height: 43px;
    
   
}
#img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}
#user{
    text-decoration: none;
    color: black;
}

mat-icon{
   color: white;
}