<div class="searchComponent">
  <app-search-todo (pro)="searchOnText($event)"></app-search-todo>
 </div>
 <!-- <button mat-raised-button color="accent" (click)="openDialog()">Open dialog</button> -->

 <div class="empty" *ngIf="pageSlice.length===0">
  <strong>
<p>Your inbox is empty</p></strong>
 </div>
 <div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
<div class = "common-div" *ngFor = "let task of pageSlice" [ngSwitch] = "task.priority">


<mat-card *ngSwitchCase = "'High'" class = "highPrDiv">
  <button  class = "menu-class" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <div>
    
    <!-- <button class = "menu-class" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
      </button> -->
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink = "/userDashboard/todoDetails/{{task.todoId}}">
      <mat-icon>info</mat-icon>
      <span>See Details</span>
    </button>
    <button mat-menu-item routerLink = "/userDashboard/updatetodo/{{task.todoId}}">
      <mat-icon>update</mat-icon>
      <span>Update</span>
    </button>
    <button mat-menu-item (click) = "addTodosIntoArchive(task)">
      <mat-icon>hide_source</mat-icon>
      <span>Mark As Archieve</span>
    </button>
    <button mat-menu-item (click) = "addTodosIntoArchive(task)">
      <mat-icon>done_all</mat-icon>
      <span>Mark As Done</span>
    </button>
    <button mat-menu-item (click) = "deleteTodos(task.todoId)">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </mat-menu>
   </div>
   <a class="a" routerLink = "/userDashboard/todoDetails/{{task.todoId}}" class="cont">           
    <h4 class = "todo-title-h5">{{task.todoTitle | titlecase}}</h4>
       <h5 class = "showing-duedate-h5">{{task.endDate | date:'medium'}}</h5>
              <h4><mat-icon style="color: red;">priority_high</mat-icon></h4>
     <!-- <p class = "todo-para">{{task.todoDesc.substring(0, 30) | titlecase}}..</p> -->

    </a> 
</mat-card>

<mat-card *ngSwitchCase = "'Medium'" class = "mediumPrDiv">
  <button class = "menu-class" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink = "/userDashboard/todoDetails/{{task.todoId}}">
      <mat-icon>info</mat-icon>
      <span>See Details</span>
    </button>
    <button mat-menu-item routerLink = "/userDashboard/updatetodo/{{task.todoId}}">
      <mat-icon>update</mat-icon>
      <span>Update</span>
    </button>
    <button mat-menu-item (click) = "addTodosIntoArchive(task)">
      <mat-icon>hide_source</mat-icon>
      <span>Mark As Archieve</span>
    </button>
    <button mat-menu-item (click) = "addTodosIntoComplete(task)">
      <mat-icon>done_all</mat-icon>
      <span>Mark As Completed</span>
    </button>
    <button mat-menu-item (click) = "deleteTodos(task.todoId)">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </mat-menu>
   </div>
   <a class="a" routerLink = "/userDashboard/todoDetails/{{task.todoId}}" class="cont">           
    <h4 class = "todo-title-h5">{{task.todoTitle | titlecase}}</h4>
       <h5 class = "showing-duedate-h5">{{task.endDate | date:'medium'}}</h5>
      <h4><mat-icon  style="color: rgb(255, 166, 0);">remove_circle_outline</mat-icon></h4>
     <!-- <p class = "todo-para">{{task.todoDesc.substring(0, 30) | titlecase}}..</p>  -->
     <!-- <p>{{task.categoryName}}</p> -->
    </a> 
</mat-card>

<mat-card *ngSwitchCase = "'Low'" class = "lowPrDiv">
  <button class = "menu-class" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink = "/userDashboard/todoDetails/{{task.todoId}}">
      <mat-icon>info</mat-icon>
      <span>See Details</span>
    </button>
    <button mat-menu-item routerLink = "/userDashboard/updatetodo/{{task.todoId}}">
      <mat-icon>update</mat-icon>
      <span>Update</span>
    </button>
    <button mat-menu-item (click) = "addTodosIntoComplete(task)">
      <mat-icon>done_all</mat-icon>
      <span>Mark As Done</span>
    </button>
    <button mat-menu-item (click) = "addTodosIntoArchive(task)">
      <mat-icon>hide_source</mat-icon>
      <span>Mark As Archieve</span>
    </button>
    <button mat-menu-item (click) = "deleteTodos(task.todoId)">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </mat-menu>
   </div>
   <a class="a" routerLink = "/userDashboard/todoDetails/{{task.todoId}}" class="cont">           
    <h4 class = "todo-title-h5">{{task.todoTitle | titlecase}}</h4>
       <h5 class = "showing-duedate-h5">{{task.endDate | date:'medium'}}</h5>
       <h4> <mat-icon style="color: green;">arrow_circle_down</mat-icon></h4>
     <!-- <p class = "todo-para">{{task.todoDesc.substring(0, 30) | titlecase}}..</p>  -->
    </a> 
</mat-card>

<mat-card *ngSwitchDefault class = "no-priority">
  <button class = "menu-class" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink = "/userDashboard/todoDetails/{{task.todoId}}">
      <mat-icon>info</mat-icon>
      <span>See Details</span>
    </button>
    <button mat-menu-item routerLink = "/userDashboard/updatetodo/{{task.todoId}}">
      <mat-icon>update</mat-icon>
      <span>Update</span>
    </button>
    <button mat-menu-item (click) = "addTodosIntoArchive(task)">
      <mat-icon>hide_source</mat-icon>
      <span>Mark As Archieve</span>
    </button>
    <button mat-menu-item (click) = "addTodosIntoComplete(task)">
      <mat-icon>done_all</mat-icon>
      <span>Mark As Done</span>
    </button>
    <button mat-menu-item (click) = "deleteTodos(task.todoId)">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </mat-menu>
   </div>
   <a class="a" routerLink = "/userDashboard/todoDetails/{{task.todoId}}" class="cont">           
    <h4 class = "todo-title-h5">{{task.todoTitle | titlecase}}</h4>
       <h5 class = "showing-duedate-h5">{{task.endDate | date:'medium'}}</h5>
     <!-- <p class = "todo-para">{{task.todoDesc.substring(0, 30) | titlecase}}..</p>  -->
    </a> 
</mat-card>

</div>
<mat-paginator [length]= "this.todoDetails.length"
              [pageSize]="3"
              [pageSizeOptions]="[3, 6, 9,12]"
              (page)="onPageChange($event)"
              class="page">
</mat-paginator>
</div>
</div>
</div>
<div class="bottom">
  <app-footer></app-footer>
  </div>




<!-- defining search component -->
 <!-- <div class = "search-component">
  <app-search-todo (eventProperty) = "searchOnText($event)"></app-search-todo>
  </div> -->

  <!-- div to be shown at first user will signin/login -->

  <!-- <div *ngIf = "showWelcomeMsg" class = "welcome-div">
    <h1>Hi, {{userName}} Welcome To Our Portal</h1>
  </div> -->

  <!-- div to be shown if user has added todos --> 
  <!-- <div class = "main-container" *ngIf = "showMainContainer showMe"> -->

 <!-- defining common div for all priority label todos    -->
 <!-- <div class = "common-div" *ngFor = "let task of allTaskDetails" [ngSwitch] = "task.priorities"> -->
        
         <!-- link to show todos details -->
         
          <!-- card will render if todo is in high priority -->
         <!-- <mat-card *ngSwitchCase = "'High'" class = "highPrDiv">
          <button class = "menu-class" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <div>
            <button class = "menu-class" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink = "/userDashboard/todo-details/{{task.todoId}}">
                <mat-icon>info</mat-icon>
                <span>See Details</span>
              </button>
              <button mat-menu-item routerLink = "/userDashboard/updatetodo/{{task.todoId}}">
                <mat-icon>update</mat-icon>
                <span>Update</span>
              </button>
              <button mat-menu-item (click) = "addTodosIntoArchive(task,task.todoId)">
                <mat-icon>done_all</mat-icon>
                <span>Mark As Done</span>
              </button>
              <button mat-menu-item (click) = "deleteTodos(task.todoId)">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
             </div> -->
          <!-- <input class = "radio-button" type = "radio" mat-raised-button color = "accent" (click) = "addTodosIntoArchive(task,task.todoId)" (click)="toggle()">
                  <a routerLink = "/userDashboard/todo-details/{{task.todoId}}">           
                  <h4 class = "todo-title-h5">{{task.todoTitle | titlecase}}</h4>
                     <h5 class = "showing-duedate-h5">{{task.dueDate | date:'medium'}}</h5>
                   <p class = "todo-para">{{task.todoDesc.substring(0, 30) | titlecase}}..</p> 
                  </a>   
                </mat-card> -->
            

                <!-- link to show todos details -->
               
                <!-- card will render if todo is in Medium priority -->
              <!-- <mat-card *ngSwitchCase = "'Medium'" class = "mediumPrDiv">
                <button class = "menu-class" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <div>
                  <button class = "menu-class" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink = "/userDashboard/todo-details/{{task.todoId}}">
                      <mat-icon>info</mat-icon>
                      <span>See Details</span>
                    </button>
                    <button mat-menu-item routerLink = "/userDashboard/updatetodo/{{task.todoId}}">
                      <mat-icon>update</mat-icon>
                      <span>Update</span>
                    </button>
                    <button mat-menu-item (click) = "addTodosIntoArchive(task,task.todoId)">
                      <mat-icon>done_all</mat-icon>
                      <span>Mark As Done</span>
                    </button>
                    <button mat-menu-item (click) = "deleteTodos(task.todoId)">
                      <mat-icon>delete</mat-icon>
                      <span>Delete</span>
                    </button>
                  </mat-menu>
                   </div>
                <input class = "radio-button" type = "radio" mat-raised-button color = "accent" (click) = "addTodosIntoArchive(task,task.todoId)" (click)="toggle()">
                <a routerLink = "/userDashboard/todo-details/{{task.todoId}}"> 
                      <h4 class = "todo-title-h5">{{task.todoTitle | titlecase}}</h4>
                       <h5 class = "showing-duedate-h5">{{task.dueDate | date:'medium'}}</h5>
                  <p class = "todo-para"> {{task.todoDesc.substring(0, 30) | titlecase}} ...</p> 
                </a> 
               </mat-card> -->
               
                
               <!-- link to show todos details -->
               
                <!-- card will render if todo is in Low priority -->
               <!-- <mat-card *ngSwitchCase = "'Low'" class = "lowPrDiv">
                <div>
                <button class = "menu-class" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                
                <mat-menu #menu="matMenu">
                  <button mat-menu-item routerLink = "/userDashboard/todo-details/{{task.todoId}}">
                    <mat-icon>info</mat-icon>
                    <span>See Details</span>
                  </button>
                  <button mat-menu-item routerLink = "/userDashboard/updatetodo/{{task.todoId}}">
                    <mat-icon>update</mat-icon>
                    <span>Update</span>
                  </button>
                  <button mat-menu-item (click) = "addTodosIntoArchive(task,task.todoId)">
                    <mat-icon>done_all</mat-icon>
                    <span>Mark As Done</span>
                  </button>
                  <button mat-menu-item (click) = "deleteTodos(task.todoId)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                  </button>
                </mat-menu>
              </div>
                <input class = "radio-button" type = "radio" mat-raised-button color = "accent" (click) = "addTodosIntoArchive(task,task.todoId)" (click)="toggle()">
                    <a routerLink = "/userDashboard/todo-details/{{task.todoId}}">
                      <h4 class = "todo-title-h5">{{task.todoTitle | titlecase}}</h4>
                       <h5 class = "showing-duedate-h5">{{task.dueDate | date:'medium'}}</h5>
                    <p class = "todo-para">{{task.todoDesc.substring(0, 30) | titlecase}}...</p>
                    </a>
            </mat-card> -->
           
             
           <!-- link to show todos details -->
           
              <!-- card will render if todo is in No priority -->
              <!-- <mat-card *ngSwitchDefault class = "no-priority">
                <div>
                <button class = "menu-class" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item routerLink = "/userDashboard/todo-details/{{task.todoId}}">
                    <mat-icon>info</mat-icon>
                    <span>See Details</span>
                  </button>
                  <button mat-menu-item routerLink = "/userDashboard/updatetodo/{{task.todoId}}">
                    <mat-icon>update</mat-icon>
                    <span>Update</span>
                  </button>
                  <button mat-menu-item (click) = "addTodosIntoArchive(task,task.todoId)">
                    <mat-icon>done_all</mat-icon>
                    <span>Mark As Done</span>
                  </button>
                  <button mat-menu-item (click) = "deleteTodos(task.todoId)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                  </button>
                </mat-menu>
              </div>
                <input class = "radio-button" type = "radio" mat-raised-button color = "accent" (click) = "addTodosIntoArchive(task,task.todoId)" (click)="toggle()">
                     <a routerLink = "/userDashboard/todo-details/{{task.todoId}}">
                         <h4 class = "todo-title-h5">{{task.todoTitle | titlecase}}</h4>
                         <h5 class = "showing-duedate-h5">{{task.dueDate | date:'medium'}}</h5>
                       <p class = "todo-para">{{task.todoDesc.substring(0, 30) | titlecase}}...</p>
                      </a>
              </mat-card>
        
    </div>
    </div>             -->