.common-div{
    display: inline-flex;
    /* height:100px;
    width: 200px; */
    margin-left: 60px;
    margin-top: 60px;
    /* margin-bottom: 20px; */
    background-color: red;
    text-align: center;
    border-radius: 35px;
    box-shadow: 3px 3px 3px 0px gray;
}
.menu-class mat-icon{
    position: relative;
    left: 135px;
    
}
.empty{
    margin-top: 250px;
    color: #fff;
    margin-bottom: 250px;
    text-align: center;
    /* margin: auto; */
}
.menu-class button{
    position: relative;
    left: 140px;
    
}
.highPrDiv a{
   text-decoration: none;
   color: black;
   padding: 20px;
    
}

.mediumPrDiv a{
    text-decoration: none;
   color: black;
   padding: 20px;
}
.lowPrDiv a{
    text-decoration: none;
   color: black;
   padding: 20px;
}
.no-priority a{
    text-decoration: none;
   color: black;
   padding: 20px;
}
.highPrDiv{
    border-radius: 15px;
    box-shadow: 3px 3px 3px 0px gray;
    background:#f58c8e;
    height: 200px;
    width: 180px;
}
.mediumPrDiv{
    border-radius: 15px;
    box-shadow: 3px 3px 3px 0px gray;
    background: #e9fc7d;
    height: 200px;
    width: 180px;
}
.lowPrDiv{
    border-radius: 15px;
    box-shadow: 3px 3px 3px 0px gray;
    background: #00ee6e;
    height: 200px;
    width: 180px;
}
.no-priority{
    box-shadow: 3px 3px 3px 0px gray;
    height: 200px;
    width: 180px;
}
.div{
    margin-bottom: 40px;
}
.bottom{
    position: relative;
    right: 92px;
}
/* .no-priority h4{
    position: relative;
    top: -40px;
} */